.winners-list-header .button {
  border-radius: 0;
  border: 0;
  background: rgb(6, 57, 166);
}

.winners-list-header {
  display: grid;
  width: 37rem;
  grid-template-columns: 1.2fr 2fr 1.5fr 1fr 3fr;
}

.winners-list-header .button {
  text-align: left;
}
